body {
  background-color: #121212;
  color: #faf9f6;
  font-family: "Courier New", Courier, monospace;
  transition-duration: 0.3s;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button, canvas {
  cursor: pointer;
}

footer {
  position: absolute;
  padding: 1rem;
  bottom: 0;
  right: 0;
  text-align: right;
}

footer p {
  cursor: pointer;
}

input {
  height: 1.5rem;
  width: 15rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

li {
  padding: 0.75rem;
  cursor: pointer;
  list-style-type: none;
}

ul {
  padding: 0;
  text-align: center;
}

.add-item-button, .remove-all-items-button {
  height: 2rem;
  width: 8rem;
  background-color: #6495ed;
  border: 1px solid #6082b6;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.add-item-button:hover, .remove-all-items-button:hover {
  transform: translateY(0.2rem);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
}

.add-item-button:active, .remove-all-items-button:active {
  transform: translateY(0.4rem);
  box-shadow: none;
}

.counter {
  font-size: 24px;
  text-align: center;
}

.item-delete {
  width: 1rem;
  height: 1rem;
  float: right;
  cursor: pointer;
}

.light-dark-mode {
  float: right;
  padding: 1rem;
}

.menu {
  width: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item-list {
  text-align: center;
  padding: 0;
}

.moon-sun {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.roulette-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roulette-wheel {
  width: 30%;
  max-width: 30rem;
  text-align: center;
}

.winner {
  font-size: 32px;
  margin-bottom: 1rem;
}
/* Add these styles at the end of your existing CSS */

.moon-sun-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 2;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 2;
}

.menu {
  width: 24rem;
  background-color: #1e1e1e;
  border-radius: 0.5rem;
  padding: 1rem;
}

.input-box {
  margin-bottom: 1rem;
}

.button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.roulette-container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 50%; /* Adjust as needed */
  text-align: center;
  z-index: 1;
}

/* ... Your existing CSS styles ... */

@media screen and (max-width: 768px) {
  .roulette-container {
    flex-direction: column-reverse;
  }

  .roulette-wheel {
    width: 100%;
  }
}
